{{ partial "head" . }}
<body>
<div id="wrap">
{{ partial "header" . }}
    <section id="about">
        <div class="container">
            <div class="avatar">
                <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
            </div>
            <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer.</h3>
            <h3>I love bringing computer science into practise.</h3>
            {{ if .Site.Params.Social.Github }}
                <h3>Have a look at some of my projects at <a href="https://github.com/{{ .Site.Params.Social.Github }}">Github</a>.</h3>
            {{ end }}
            <h3>For more check out my academic &amp; professional <a href="{{ .Site.BaseURL}}doc/resume.pdf">resume</a>.</h3>
            <h3>You can get into touch with me using one of the methods below.</h3>
            <br>
            <h4><i>"It's still the same me playing with LEGO;<br>
                I just replaced the physical blocks with abstract lines of code."</i></h4>
        {{ partial "social.html" . }}
        </div>
    </section>
</div>
{{ partial "footer" . }}
</body>
</html>
